body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.app {
    flex-wrap: wrap;
    display: flex;
    width: 700px;
    height: 360px;
    padding: 15px;
    background-color: rgb(220, 220, 220);
}

.card {
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 100px;
    background: linear-gradient(45deg, rgb(0, 70, 0), rgb(0, 150, 0));
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    color: rgb(240, 240, 240);
}

.card:hover {
    cursor: pointer;
}

.uncovered > span {
    color: transparent;
}


/* Card colors */

#C1.uncovered,
#C8.uncovered {
    background: none;
    background-color: blue;
}

#C2.uncovered,
#C4.uncovered {
    background: none;
    background-color: purple;
}

#C3.uncovered,
#C10.uncovered {
    background: none;
    background-color: rgb(0, 195, 0);
}

#C5.uncovered,
#C12.uncovered {
    background: none;
    background-color: orange;
}

#C6.uncovered,
#C11.uncovered {
    background: none;
    background-color: yellow;
}

#C9.uncovered,
#C7.uncovered {
    background: none;
    background-color: red;
}